<div class="tasks-table">

    <div class="filters">
        <div>
            <img width="15" height="15" src="./assets/icons/filter.svg" alt="filter--v1"/>     
            <label class="ps-1 fw-bold">Filters :</label>
        </div>
        <div class="filter-select">
            <label>Select Status</label>
            <img width="10" height="10" src="https://img.icons8.com/ios/50/expand-arrow--v2.png" alt="expand-arrow--v2"/>        </div>
        <div v class="filter-select">
            <label>Select Status</label>
            <img width="10" height="10" src="https://img.icons8.com/ios/50/expand-arrow--v2.png" alt="expand-arrow--v2"/>        </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>
            <div class="table-checkbox">
              <input type="checkbox" />

            </div>
          </th>
          <th>Task Number</th>
          <th>Title</th>
          <th>Assigned To</th>
          <th>Priority</th>
          <th>Due Date</th>
          <th>Completion</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div  class="table-checkbox">              
              <input type="checkbox" />
            </div>
          </td>
          <td>TASK-3</td>
          <td>57</td>
          <td>Unassigned</td>
          <td> 
            <div class="priority high">
                <img style="border-radius: 5px;" width="10" height="10" src="assets/icons/high-priority.svg">
                <span class="priority high">High</span>
            </div>   
          </td>     
          <td>07/01/2024</td>
          <td><div class="progress-bar"></div></td>
          <td>
            <div class="task-status">
              <span class=""></span>
              <label>Yet To Start</label>
            </div>
           </td>
        </tr>
        <tr>
          <td>
            <div  class="table-checkbox">              
              <input type="checkbox" />
            </div>
          </td>
          <td>TASK-1</td>
          <td>55</td>
          <td>Unassigned</td>
          <td> 
            <div class="priority low">
              <img style="border-radius: 5px;" width="10" height="10" src="assets/icons/low-priority.svg">
               <span class="priority ">Very Low</span>
           </div>   
      </td>
          <td>07/01/2024</td>
          <td><div class="progress-bar completed"></div></td>
          <td>
            <div class="task-status">
              <span class="completed"></span>
              <label>Completed</label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 